.toast {
	visibility: hidden;
	min-width: 250px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	bottom: 30px;
	right: 30px;
	font-size: 17px;
	opacity: 0;
	transition: opacity 0.5s ease, visibility 0.5s ease;
	background-color: #D78258;
}

.toast.show {
	visibility: visible;
	opacity: 1;
}
