footer {
	width: 100%;
	bottom: 0;
	background-color: #F5F1E6;
	position: fixed;
	bottom: 0;
}

.footer-content {
	margin-top: 8px;
}

.footer-text {
	font-size: 14px;
	color: #4B4E5A;
}

.info-section {
	display: flex;
	flex-direction: column;
}

@media ( max-width : 767px) {
	.footer{
		position: sticky;
	}
	.footer-label {
		font-size: 14px;
	}
	.clients-label {
		display: none;
	}
	.info-section {
		display: none;
	}
}