.navbar {
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left:3%;
	padding-right:3%;
	border-bottom: 1px solid #E4E4E4;
	background-color: #F5F1E6;
	
	.right-block{
		display: flex;
		column-gap: 16px;
	}
}

.logo {
	height: auto;
	width: 20%;
}

.sub-navbar{
	display:flex;
	justify-content: space-between;
	color: #D78258;
	align-items: center;
	width: 100%;
	margin-top: 8px;
	margin-bottom: 8px;
	height: 30px;
	color: #4B4E5A;
	
}