.navbar {
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left:3%;
	padding-right:3%;
	border-bottom: 1px solid #E4E4E4;
	
	.right-block{
		display: flex;
		column-gap: 16px;
	}
}

.logo {
	height: auto;
	width: 20%;
}

.sub-navbar{
	display:flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 5%;
	margin-right: 5%;
	height: 30px;
}