@import url('header.css');

@import url('footer.css');

@import url('utils.css');

@import url('login.css');

body {
	margin: 0px;
}

.container {
	display: flex;
}

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin-right: 20px;
}

.mySlides {
	display: none;
	max-height: 250px;
}

.dot {
	height: 0px;
	width: 0px;
	margin: 0 2px;
	background-color: transparent;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {opacity: .4
}

to {
	opacity: 1
}
}