@import url('header.css');

@import url('footer.css');

@import url('utils.css');

@import url('login.css');

@import url('product.css');

@import url('carrello.css');

@import url('registrazione.css');

@import url('riepilogoOrdini.css');


body {
	margin: 0px;
	font-family: "Playfair Display", serif;
	min-height: 100vh;
}

main {
	padding-bottom: 150px;
	padding-left: 3%;
	padding-right: 3%;
}

.container {
	display: flex;
}

a {
	text-decoration: none;
	color: #D78258;
}

input:focus {
    border: 2px solid #D78258 ;
    outline: none;
    background-color: #FFF7E6 !important ;
    color: #D78258;
    transition: all 0.3s ease-in-out;
}


.slideshow-container {
	max-width: 100%;
}

.mySlides {
	display: none;
}

.dot {
	height: 0px;
	width: 0px;
	margin: 0 2px;
	background-color: transparent;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {opacity: .4
}

to {
	opacity: 1
}
}