
.order {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #F5F1E6;
}

td {
    border-bottom: 1px solid #D78258;
}

.hidden {
    display: none;
}

#risultatoRicerca {
    margin-top: 20px;
}

thead th {
    padding: 12px;
    background-color: #D78258;
}

