.flex {
	display: flex;
}

.grid {
	display: grid;
}

.grid-cols-2 {
	grid-template-columns: 1fr 1fr;
}

.grid-cols-3 {
	grid-template-columns: 1fr 1fr 1fr;
}

.column-gap-1{
	column-gap: 8px;
}

.column-gap-2{
	column-gap: 16px;
}

.w-full {
	width: 100%;
}

.flex-col {
	flex-direction: column;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-center {
	justify-content: center;
}

.gap-x-1 {
	gap: 0px 0.25rem;
}

.gap-x-2 {
	gap: 0px 0.5rem;
}

.gap-x-3 {
	gap: 0px 0.75rem;
}

.gap-x-4 {
	gap: 0px 1rem;
}

.gap-x-5 {
	gap: 0px 1.5rem;
}

.gap-y-1 {
	gap: 0.25rem 0px;
}

.gap-y-2 {
	gap: 0.5rem 0px;
}

.gap-y-3 {
	gap: 0.75rem 0px;
}

.gap-y-4 {
	gap: 1rem 0px;
}

.gap-y-5 {
	gap: 1.5rem 0px;
}

.mt-0 {
	margin-top: 0px;
}

.mb-0 {
	margin-bottom: 0px;
}

.mr-0 {
	margin-right: 0px;
}

.ml-0 {
	margin-left: 0px;
}

.my-0 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.mx-0 {
	margin-left: 0px;
	margin-right: 0px;
}

.my-1 {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

.my-2 {
	margin-top: 0.50rem;
	margin-bottom: 0.50rem;
}

.my-3 {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

.mt-1{
	margin-top: 4px;
}

.mt-2{
	margin-top: 8px;
}

.mt-3{
	margin-top: 16px;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.text-white{
	color: white;
}

@media ( min-width : 768px) {
	.container {
		width: 750px;
	}
}

@media ( min-width : 992px) {
	.container {
		width: 970px;
	}
}

@media ( min-width : 1200px) {
	.container {
		width: 1370px;
	}
}